@model IEnumerable<GalleryImageViewModel>
@using ChromiumSite.Models.AdminViewModels
@{
    ViewData["Title"] = "Gallery";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>
    <div class="row text-center text-lg-left">
        <div class="mosaicflow" data-item-height-calculation="attribute">
            @foreach (var img in Model)
            {
                    <div class="mosaicflow__item">
                        <a data-fancybox="gallery" href="@img.Path">
                        <img class="img-responsive" src="@img.Path" alt="">
                            @*TODO previev to images*@
                        </a>
                    </div>
            }
        </div>
        </div>
</div>
@section scripts
    {

    <link rel="stylesheet" href="~/lib/fancybox/dist/jquery.fancybox.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mosaic_flow.css" asp-append-version="true" />
    <script src="~/lib/fancybox/dist/jquery.fancybox.min.js" asp-append-version="true"></script>
    <script src="~/lib/mosaicflow/jquery.mosaicflow.min.js" asp-append-version="true"></script>
}
